/*----------变量---------------*/
$borderColor: #d1d1d1;
$boxShadowColor: #d1d1d1;
/*----------变量 End---------------*/
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{color: #333; font-size: 13px;}
a{text-decoration:none}
a:hover{text-decoration:underline}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*----------头部---------------*/
.top{
  width: 1200px;
  margin: 0px auto;
  overflow: hidden;
}
.logo{
  width: 266px;
  height: 146px;
  display: inline-block;

}
.title{
  font-size: 34px;
  text-align: center;
  display: inline-block;
  position: relative;
  left: 180px;
  top: 0;
}
.nav{
  float: right;
  font-size: 16px;
}
.nav .link{
  margin-right: 40px;
  color: black;
  line-height: 146px;
  text-decoration: none;
}
.nav .nav4{
  margin-right: 0;
  margin-left: 8px;
}
.avatar{
  width: 40px;
  border-radius:50%
}
.shopCar{
  font-size: 22px;
}
/*轮播图*/
.banner{
  height: 177px;
    width: 100%;
}
/*---------------尾部--------------*/
.foot{
    background-color: #494949;
    width: 100%;
}
.foot-wrap{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 32px;
}
.announcement{
    float: left;
    margin-top: 27px;
}
.announcement div{
    color: #9b9b9b;
    margin-top: 3px;
    font-size: 13px;
}
.announcement .disclaimer{
    color: white;
}
.qr-code{
    float: right;
    width: 90px;
    height: 90px;
    overflow: hidden;
    margin-top: 27px;
}
.copy-info{
    color: #9ea1ab;
    text-align: center;
    width: 100%;
    border-top: 1px solid #5c5c5c;
    padding-top: 20px;
    padding-bottom: 26px;
}
/*-----------商城首页--------------*/
.mid-nav{
    height: 46px;
    margin: 0px auto;
    overflow: hidden;
    font-size: 16px;
    color: black;
    text-align: center;
}
.mid-nav a{
    color: black;
}
.mid-nav a:hover{
    color: #004ea1;
}
.mid-nav a:visited{
    text-decoration: none;
}
.mid-nav .mid-nav1{
    line-height: 44px;
    display: inline-block;
}
.mid-nav .mid-nav2{
    line-height: 44px;
    display: inline-block;
    margin-left: 30px;
}
.activeClass{
    color: #004ea1 !important;
    padding-bottom: 11px;
    border-bottom: 2px solid #004ea1;
    text-decoration: none !important;
}
/*--------------数据中心----------------*/
.wrap{
    width: 100%;
    background-color: #f6f6f6;
    padding-top: 22px;
    padding-bottom: 76px;
}
.content-wrap{
    width: 1200px;
    background-color: #f6f6f6;
    overflow: hidden;
    margin: 0 auto;
}
.content-wrap .filter-condition{
    background-color: white;
    width: 300px;
    height: 778px;
    float: left;
}
.content-wrap .content-right{
    float: right;
}
.sxtj{
    color:#14308d;
    font-weight: bold;
    height: 60px;
    padding-left: 22px;
    font-size: 16px;
    line-height: 60px;
}
.item1{
    height: 86px;
    margin: 20px 22px 0;
    border-bottom: 1px solid #e5e5e5;
}
.item2{
    height: 206px;
    margin: 20px 22px 0;
    border-bottom: 1px solid #e5e5e5;
}
.item3{
    height: 110px;
    margin: 20px 22px 0;
    border-bottom: 1px solid #e5e5e5;
}
.item4{
    height: 86px;
    margin: 20px 22px 0;
}
.type{
    color: #424242;
    font-weight: bold;
    font-size:15px;
    margin-bottom: 10px;
}
.ant-checkbox-wrapper{
    width: 120px;
    margin-left: 0px !important;
    margin-top: 10px !important;
}
/*-------------数据中心产品包-------------------*/
.product{
    width: 850px;
    margin-top: 30px;
    padding: 20px 20px 0;
    background-color: white;
    border: solid 1px #d1d1d1;
}
.product .name{
    color:#004ea1;
    font-weight: bold;
    font-size:16px;
}
.product .right{
    float: right;
}
.product .right .like, .product .right .star{
    font-size: 16px;
    margin-left: 18px;
    margin-right: 5px;
}
.product .right .num, .product .right .keep{
    font-size: 13px;
}
.product .clock, .product .sync{
    margin: 14px 2px 14px 0;
}
.product .sync{
    margin-left: 26px;
}
.product .property{
    overflow: hidden;
}
.product .regular{
    display: inline-block;
    float: left;
    margin: 10px 10px 20px 0px;
    border: 1px solid #f7e6a1;
    background-color: #fefcf3;
    width: 74px;
    height: 24px;
    text-align: center;
}
.product .free{
    display: inline-block;
    float: left;
    margin: 10px 10px 20px 0px;
    border: 1px solid #99b8d9;
    background-color: #f5f8fb;
    width: 74px;
    height: 24px;
    text-align: center;
}
.product .other{
    display: inline-block;
    float: left;
    margin: 10px 10px 20px 0px;
    border: 1px solid #bfbfbf;
    background-color: #f5f5f5;
    width: 74px;
    height: 24px;
    text-align: center;
}
.support{
    height: 56px;
    background-color: #f9f9f9;
    padding-left: 20px;
    overflow: hidden;
    border: solid 1px #d1d1d1;
    border-top:none;
}
.support-logo{
    width: 34px;
    height: 34px;
    overflow: hidden;
    float: left;
    margin-top: 10px;
}
.support-logo img{
    width: 34px;
    height: 34px;
}
.support .support-name{
    line-height: 56px;
    margin-left: 10px;
}
/*-----------分页--------------------*/
.pagination{
    text-align: center;
    overflow: hidden;
    margin-top: 50px;
}
.page {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}
.jumper{
    display: inline-block;
    vertical-align: top;
}
/*------------数据工具----------------------*/
.tool{
    width: 100%;
    background-color: #f6f6f6;
    padding-top: 22px;
    padding-bottom: 40px;
}
.tool .tool-wrap{
    width: 1200px;
    margin: 0px auto;
    overflow: hidden;
}
.tool .tool-wrap .tool-nav{
    width: 292px;
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
}
.tool .tool-wrap .tool-nav:nth-child(4){
    margin-right: 0;
}
.tool .tool-wrap .tool-nav .pic{
    width: 292px;
    height: 132px;
    overflow: hidden;
}
.tool .tool-wrap .tool-nav .pic img{
    width: 292px;
    height: 132px;
}
.tool .tool-wrap .tool-nav .hangq{
    height: 52px;
    line-height: 52px;
    padding: 0 12px;
    background: linear-gradient(to right, #223cdc 0%,#01b3f6 100%);
    overflow: hidden;
}
.tool .tool-wrap .tool-nav .hangq span{
    color: white;
    font-size: 16px;
}
.tool .tool-wrap .tool-nav .hangq .arrow{
    float:right;
    font-size: 28px;
    color: white;
    line-height: 58px;
}
.tool .tool-wrap .tool-nav .introduce{
    height: 116px;
    background-color: white;
    padding: 12px;
}
/*-------供应商首页----------------*/
.company{
    width: 100%;
    background-color: #f6f6f6;
    padding-bottom: 76px;
}
.company .company-wrap{
    width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
}
.company .company-wrap .logo-name{
    color: #004ea1;
    font-size: 16px;
    font-weight: bold;
}
.company .company-wrap .logo-name img{
    width: 66px;
    height:66px;
    border: 2px solid #d1d1d1;
    margin-right: 14px;
}
.company .company-wrap .info{
    line-height: 30px;
    margin-top: 20px;
}
.company .company-wrap .name{
    color: #004ea1;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 34px;
}
.company .company-wrap .product{
    width: 1200px;
    margin-top: 30px;
    padding: 20px 20px 0;
    background-color: white;
    border: solid 1px #d1d1d1;
}
.company .company-wrap .product .name{
    color:#004ea1;
    font-weight: bold;
    font-size:16px;
}
.company .company-wrap .product .right{
    float: right;
}
.company .company-wrap .product .right .like, .product .right .star{
    font-size: 16px;
    margin-left: 18px;
    margin-right: 5px;
}
.company .company-wrap .product .right .num, .product .right .keep{
    font-size: 13px;
}
.company .company-wrap .product .clock, .product .sync{
    margin: 14px 2px 14px 0;
}
.company .company-wrap .product .sync{
    margin-left: 26px;
}
.company .company-wrap .product .property{
    overflow: hidden;
}
.company .company-wrap .product .regular{
    display: inline-block;
    float: left;
    margin: 10px 10px 20px 0px;
    border: 1px solid #f7e6a1;
    background-color: #fefcf3;
    width: 74px;
    height: 24px;
    text-align: center;
}
.company .company-wrap .product .free{
    display: inline-block;
    float: left;
    margin: 10px 10px 20px 0px;
    border: 1px solid #99b8d9;
    background-color: #f5f8fb;
    width: 74px;
    height: 24px;
    text-align: center;
}
.company .company-wrap .product .other{
    display: inline-block;
    float: left;
    margin: 10px 10px 20px 0px;
    border: 1px solid #bfbfbf;
    background-color: #f5f5f5;
    width: 74px;
    height: 24px;
    text-align: center;
}
.company .company-wrap .support{
    height: 56px;
    background-color: #f9f9f9;
    padding-left: 20px;
    overflow: hidden;
    border: solid 1px #d1d1d1;
    border-top:none;
}
.company .company-wrap .support-logo{
    width: 34px;
    height: 34px;
    overflow: hidden;
    float: left;
    margin-top: 10px;
}
.company .company-wrap .support-logo img{
    width: 34px;
    height: 34px;
}
.company .company-wrap .support .support-name{
    line-height: 56px;
    margin-left: 10px;
}

.carousel {
  height: 100%;
}
.carousel-box {
  width: 100%;
  height: 436px;
}
.szx .carousel-box {
  height: 426px;
}
.carousel-inner {
  top: -5px;
  height: 430px;
  position: absolute;
  left: 50%;
  margin-left: -50%;
}
.carousel-inner>div,.carousel-inner>div>div {
  height: 100%;
}
.carousel-control {
  font-size: 100px;
  line-height: 386px;
  height: calc(100% - 5px);
}
.carousel-indicators li,.carousel-indicators .active {
  margin-right: 10px;
}
.introduce_container {
  height: 318px;
  margin-top: 10px;
  position: relative;
}
.introduce_container>h4 {
  color: #576671;
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}
.introduce_container>h4 span{
  color: #2db5f4;
}
.introduce_container .intro_cont {
  position: absolute;
  left: 50%;
}
.intro_box{
  width: 1200px;
  margin-left: -50%;
}
.intro_box>div{
  text-align: center;
  padding: 0 40px;
}
.intro_box>div strong{
  display: block;
  width: 110px;
  height: 110px;
  line-height: 110px;
  text-align: center;
  font-size: 18px;
  border-radius: 50%;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 30px;
}
/*----------首页---------------*/
.minWrapper {
  min-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.szx-wrapper, .wrapper {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.home-nav {
  box-shadow: 0 0 36px 3px #ddd;
}
.home-nav .row > a{
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #3e3e3e;
  font-size: 16px;
  line-height: 30px;
  height: 125px;
}
.home-nav .row > a:hover {
  background: #f2f6fa;
}
.home-item {
  margin-top: 10px;
  color: #3e3e3e;
  border-bottom: 1px solid #e5e5e5;
}
.home-item h3 ul {
  display: inline-block;
}
.home-item h3 ul li {
  display: inline-block;
  font-size: 20px;
  color: #3e3e3e;
  margin: 15px 40px 15px 0px;
  line-height: 34px;
  cursor: pointer;
}
.home-item h3 ul li.active {
  color: #004ea1;
  border-bottom: 3px solid #004ea1;
  cursor: default;
}
.home-item a {
  float: right;
  font-size: 15px;
  color: #004ea1;
  line-height: 40px;
  margin-top: 15px;
}
.home-item a:hover {
  text-decoration: underline;
}
.home-item p {
  font-size: 14px;
  color: rgba(62, 62, 62, .8);
  margin-bottom: 15px;
}
.home-item .table td {
  padding: 11px 8px;
  font-size: 14px;
  color: #535353;
  text-align: center;
  border-color: #f2f2f2;
}
.home-item .table th {
  padding-left: 8px !important;
  padding-right: 0 !important;
}
.home-item .table tr td > div {
  overflow: hidden;
  white-space:
  nowrap;text-overflow: ellipsis;
}
.home-item .table td a {
  float: none;
  margin-top: 0;
  padding: 0;
  line-height: 20px;
}
.home-item .table th {
  padding: 11px 8px;
  color: #004ea1;
  font-size: 15px;
  background: #f7f9fc;
  border-bottom: 1px solid #acc6e1 !important;
}
.home-item .table tr th, .home-item .table tr td {
  text-align: left !important;
}
.home-item .table tr:hover td {
  color: #004ea1;
}
.szx-home-table th {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.home-ads {
  text-align: center;
  margin-bottom: 100px;
}
.home-ads h2 {
  line-height: 130px;
  text-align: center;
}
.home-ads p {
  position: relative;
  overflow: hidden;
}
.home-ads p a {
  display: block;
  width: 50%;
  z-index: 3;
  background: rgba(0, 0, 0, 0);
}
.home-ads p a img {
  width: 100%;
}
.h-technology {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  overflow: hidden;
  background-size: cover;
}
.h-business {
  position: absolute;
  top: 0;
  right: 50%;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background-size: cover;
}
.tr, .home-item .table tr th.tr {
  text-align: right !important;
}
.home-item table {
    width: 100%;
}
.link a {
  display: inline-block;
  width: 300px;
  height: 152px;
  background: url(./assets/images/icons.png) no-repeat;
}
.link a.link1 {
  background-position: 8px -1077px;
}
.link a.link2 {
  background-position: 8px -1263px;
}
.link a.link3 {
  background-position: 8px -1455px;
}
.link a.link4 {
  background-position: 8px -1644px;
}
.s-nav {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(./assets/images/icons.png) no-repeat;
}
.s-nav.nav1 {
  background-position: -20px -394px;
}
.s-nav.nav2 {
  background-position: -23px -503px;
}
.s-nav.nav3 {
  background-position: -156px -503px;
}
.s-nav.nav4 {
  background-position: -24px -610px;
}
.s-nav.nav5 {
  background-position: -155px -610px;
}
.s-nav.nav6 {
  background-position: -157px -394px;
}
.ant-carousel .slick-slide {
  text-align: center;
}
.ant-carousel .slick-slide img {
    width: 100%;
}
/*----------个人中心---------------*/
.adminMenu {
    width: 280px;
    border: 1px solid $borderColor;
    border-radius: 4px;
    box-shadow: 0 0 6px 0px $boxShadowColor;
    padding-bottom: 200px;
    dt {
        height: 50px;
        line-height: 50px;
        text-align: center;
        color: #fff;
        font-size: 16px;
        background: #337ac4;
    }
    dd {
        padding: 0 20px;
        text-align: center;
        ul {
            margin-top: 20px;
            li {
                padding: 15px 0px;
            }
            a {
                display: block;
                line-height: 30px;
                text-align: center;
                color: #535353;
                border-radius: 30px;
                font-weight: bold;
                span {
                    display: inline-block;
                    width: 110px;
                    text-align: left;
                }
                &.active {
                    background:linear-gradient(to right,#08a7e5, #55c9fe);
                    color: #fff;
                }
            }
        }
    }
}